body {
	font-size: 16px;
	color: black;
	background-color: #EABC4B;
	font-family: sans-serif;
}

/* HEADER */
#header-nav {
	background-color: #78141B;
	border-radius: 0;
	border: 0;
	color: white;
}

.navbar-brand p {
	color: white;
	font-size: 30px;
	font-weight: bold;
}

.navbar-brand a:focus, .navbar-brand a:hover {
	text-decoration: none;
}

#nav-list a {
	color: black;
	text-align: center;
}

#nav-list a:hover {
	background-color: #E27FB1;
}
/* END HEADER */

/* Section */
#home {
	margin-bottom: 30px;
}

.row {
	
	position: relative;
	float: left;
}

.row > div > article {
	background-color: #8EB657;
	text-align: justify;
	margin-bottom: 20px;
	padding: 12px;
	color: black;
}
/* End Section */

/********** Large devices only **********/
@media (min-width: 1200px) {

}

/********** Medium devices only **********/
@media (min-width: 992px) and (max-width: 1199px) {

}

/********** Small devices only **********/
@media (min-width: 768px) and (max-width: 991px) {
/* Restaurant name */
  .navbar-brand h1 { 
    padding-top: 10px;
    font-size: 15px; 
  }
}

/********** Extra small devices only **********/
@media (max-width: 767px) {
/* Header */
  .navbar-brand {
    padding-top: 10px;
    height: 80px;
  }
  
/* Restaurant name */
  .navbar-brand h1 { 
    padding-top: 10px;
    font-size: 15px; 
  }
  
/* Kosher cert */
  .navbar-brand p { 
    font-size: 10px;
    margin-top: 12px;
  }
  
/* Star-K */
  .navbar-brand p img { 
    height: 20px;
  }

/* Collapsed nav menu text */
  #collapsable-nav a { 
    font-size: 1.2em;
  }
  
/* Collapsed nav menu glyph */
  #collapsable-nav a span { 
    font-size: 1em;
    margin-right: 5px;
  }

  #call-btn > a {
    font-size: 1.5em;
    display: block;
    margin: 0 20px;
    padding: 10px;
    border: 2px solid #fff;
    background-color: white;
    color: white;
  }
  #xs-deliver {
    margin-top: 5px;
    font-size: .7em;
    letter-spacing: .1em;
    text-transform: uppercase;
  }
  /* End Header */
}
